extends ./layout/index

block slider
    .slider 
        h1 Rio de Janeiro 
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipiscing elit vulputate montes, metus aptent diam ultricies quam phasellus lobortis rutrum, a ut tempus non aliquet tristique neque nulla. Mauris ac justo sociosqu ligula curae convallis venenatis, interdum in porttitor magna vivamus suscipit class, dictum. 
                p Sociis aliquet ac donec curabitur suscipit hac facilisi habitant cras purus, nunc neque iaculis ligula ad lacus accumsan egestas per. Tempus suscipit himenaeos fringilla eget platea pellentesque mi ligula, nec aenean sollicitudin neque potenti vestibulum porta etiam, ad lobortis lectus nam ultricies vel sagittis.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg" alt="Imagen de nosotros" class="img-fluid")

        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales