extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipiscing elit, quisque vitae ornare integer scelerisque mi quis felis, sagittis class pretium condimentum dis non. Proin sed cum conubia curae praesent odio faucibus, fames suscipit maecenas et eros. Cubilia ut lobortis condimentum ultrices 

                p Dictumst metus himenaeos luctus sociis orci cras diam, faucibus id aliquet volutpat habitant morbi primis, congue posuere a per phasellus enim. Sodales est semper per cursus diam facilisis integer habitant eget duis dapibus laoreet, blandit velit in potenti eu natoque ornare lacus nisi porttitor.

                p Ut dictum neque augue ullamcorper mollis aliquam vivamus, facilisi cras molestie leo hendrerit justo ultricies etiam, eu tristique donec scelerisque elementum montes. Odio pulvinar rhoncus placerat in congue leo pellentesque montes sem, morbi tempus donec tortor eget ligula vestibulum blandit enim    

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p  Lorem ipsum dolor sit amet consectetur adipiscing elit, quisque vitae ornare integer scelerisque mi quis felis, sagittis class pretium condimentum dis non. Proin sed cum conubia curae praesent.
                    
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p  Lorem ipsum dolor sit amet consectetur adipiscing elit, quisque vitae ornare integer scelerisque mi quis felis, sagittis class pretium condimentum dis non. Proin sed cum conubia curae praesent.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p  Lorem ipsum dolor sit amet consectetur adipiscing elit, quisque vitae ornare integer scelerisque mi quis felis, sagittis class pretium condimentum dis non. Proin sed cum conubia curae praesent.
